*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
  }
  
  body{
     background-color: #f3f5f9;
  }
  
  .page_content{
    display: flex;
    position: relative;
  }
  
  .page_content .sidebar{
    width: 200px;
    height: 100%;
    background: #0e0348;
    padding: 30px 0px;
    position: fixed;
  }
  
  .page_content .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
  }
  
  .page_content .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .page_content .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }
  
  .page_content .sidebar ul li a .fas{
    width: 25px;
  }
  
  .page_content .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .page_content .sidebar ul li:hover a{
    color: orange;
  }
   
  
  
  .page_content .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .page_content .main_content .header{
    padding: 20px;
    background: orange;
    color: black;
    border-bottom: 3px solid #0e0348;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .page_content .main_content .info{
    margin: 20px;
    color:black;
    line-height: 25px;
    font-family: serif;
    font-size: large;
    word-spacing: 3px;
    text-align: justify;
  }
  
  .page_content .main_content .info div{
    margin-bottom: 20px;
  }
  img{
    margin-left: 22%;
    border: 6px solid #1a0583;
    border-radius: 10px;
    
  }
  .header{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }
  footer{
    font-weight: 547;
    font-family: 'Times New Roman', Times, serif;
    
    text-align: right;
  }
  .bold{
    font-size:larger;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }